<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digywood.tms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tmslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/reglabel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LandingActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".LandingActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".EnrollRequestActivity" />
        <activity
            android:name=".ListofPractiseTests"
            android:parentActivityName=".CourseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListofAssesmentTests"
            android:parentActivityName=".CourseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_score"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_review"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FlashCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_flash_card"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AttemptDataActivity"
            android:parentActivityName=".FlashCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DbActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoardNavActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PaperDashActivity"></activity>
    </application>

</manifest>