<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digywood.tms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tmslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-8900998468829546~5077758012 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ForgotPassword"
            android:label="@string/forgotpwd"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".RegistrationActivity"
            android:label="@string/reglabel"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearningActivity"
            android:label="@string/courselabel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PaperActivity"
            android:label="@string/paperlabel"
            android:parentActivityName=".LearningActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EnrollRequestActivity"
            android:label="@string/enrolllabel"
            android:parentActivityName=".DashBoardNavActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListofPractiseTests"
            android:label="@string/ptestslabel"
            android:parentActivityName=".PaperActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListofAssessmentTests"
            android:label="@string/atestslabel"
            android:parentActivityName=".PaperActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PracticeTestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssessmentTestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_score"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_review"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FlashCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_flash_card"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AttemptDataActivity"
            android:parentActivityName=".FlashCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DbActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoardNavActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaperDashActivity"
            android:label="@string/paperdashlabel"
            android:parentActivityName=".DashBoardNavActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestDashActivity"
            android:label="@string/testdashlabel"
            android:parentActivityName=".PaperDashActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RequestedEnrollsActivity"
            android:label="Requested Enrollments"
            android:parentActivityName=".DashBoardNavActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListofServers"
            android:label="@string/serverlabel"
            android:parentActivityName=".DashBoardNavActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>